.header-title-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-content: center;
    align-items: center;
}

.close-page {
    height: 25px;
    width: 25px;
    position: relative;
    background: url(../../assets/images/icons/close-page.png) no-repeat right;
    background-size: cover;
    margin-right: 16px;
}


.section-title {
    padding: 0px 24px 24px;
    flex-grow: 1;
}

.page-body-section {
    background: #fff;
    height: 87%;
}

.page-body {
    height: 95%;
    position: relative;
    overflow: auto;
    padding: 24px;
    color: #013646;
}

.label {
    font-family: "DM Sans bold";
}

.content {
    font-family: "DM Sans regular";
    padding: 16px;
    text-align: justify;
}
