.page-content-container[page-theme="dark-theme"] {
    --background: var(--olivegreen);
    --color: white;
}
#header-template ion-toolbar {
    height: 97px;
    display: flex;
    justify-content: center;
}
.page-content-container {
    height: calc(100% - 97px);
    max-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/*
#header-template[page-theme="dark-theme"] ion-toolbar,
.page-content-container[page-theme="dark-theme"] ion-content {
    --background: var(--olivegreen);
    --color: white;
}

#header-template::after {
    background-image: none !important;
}

#header-template ion-toolbar {
    height: 97px;
    display: flex;
    justify-content: center;
}

#page-ion-content #background-content {
    --background: transparent;
}

.page-content-container {
    height: calc(100% - 97px);
    max-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.page-content-container ion-content {
    top: 0px;
}

.page-content-container[page-name="onboarding"] div::part(content-part) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center
}
*/
