<link href="components/scan-header/scan-header.css" rel="stylesheet">

<webc-container controller="components/ScanHeaderController">
    <ion-grid>

        <ion-row class="header-row">
            <ion-col class="cancel-action" size="2">
                <ion-row class="label" data-tag="cancel-scan">
                    {{$cancel}}
                </ion-row>
            </ion-col>
            <ion-col size="8">
                <ion-row class="rotate-camera" data-tag="switch-camera">
                    <img src="./assets/images/icons/rotate-camera-light.svg">
                </ion-row>
            </ion-col>
            <ion-col class="guide-action" size="2">
                <ion-row class="label">
                </ion-row>

            </ion-col>
        </ion-row>

    </ion-grid>
</webc-container>
