.history-list {
    padding-bottom: 56px;
}

.webc-datatable--container {
    padding-bottom: 75px;
}

.section-label {
    font-size: 16px;
    font-weight: var(--bold-font-weight);
    line-height: 150%;
    letter-spacing: 0.3px;
    font-style: normal;
    padding-bottom: 24px;
    margin-top: 24px;
}

.last-scanned-container {
    padding: 20px 0px;
}

.previous-scanned-container {
    padding: 0px;
}

.empty-history-list {
    margin-top: 67px;
    text-align: center;
}

.empty-history-list .app-image {
    content: url("../../assets/icons/app_icon.svg");
    margin: auto;
}

.empty-history-list .title {
    font-size: var(--xl-text-size);
    font-weight: var(--bold-font-weight);
    margin-top: var(--l-space);
}

.empty-history-list .welcome-text {
    margin-top: var(--s-space);
}

.empty-history-list .wizard-steps {
    display: flex;
    justify-content: space-between;
    font-size: var(--xxs-text-size);
    margin-top: 97px;
}

.empty-history-list .wizard-steps .step-item {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

.empty-history-list .wizard-steps .step-item .step-title {
    font-weight: var(--bold-font-weight);
    margin-top: var(--s-space);
    margin-bottom: var(--s-space);
}

.wizard-steps .step1 .step-icon {
    content: url("../../assets/icons/wizard_step1.svg");
    width: 100%;
}

.wizard-steps .step2 .step-icon {
    content: url("../../assets/icons/wizard_step2.svg");
    width: 100%;
}

.wizard-steps .step3 .step-icon {
    content: url("../../assets/icons/wizard_step3.svg");
    width: 100%;
}

.group-date {
    padding-bottom: var(--l-space);
    font-weight: var(--bold-font-weight);
    font-size: var(--xxs-text-size);
}

#last-fake-item {
    height: 110px;
    background: #FFFFFF;
}

#last-fake-item img {
    object-fit: contain;
    padding: 16px 0px 0px 16px;
}

.history-item-container {
    border-radius: var(--m-border-radius);
    min-height: 80px;
    padding: var(--m-space) 0px;
    margin-bottom: var(--l-space);
}

.history-item-container {
    background: #fff;
    color: var(--ion-color-gray-seven);
    box-shadow: 0px 10px 40px rgba(0, 64, 128, 0.1);
}

.history-item-container .productItem_name {
    color: var(--primary-backgtound-color);
}


.history-item-container .arrow {
    background: url("../../assets/icons/history-arrow-dark.svg") no-repeat;
}

.history-item-container[item-position="last"] {
    margin-bottom: 100px;
}

.item-row-container {
    display: flex;
    align-items: center;
}

.product-image img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.product-info-row > div {
    padding-bottom: 3px;
}

.arrow {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position-x: right;
    margin-right: var(--m-space);
}

.product-image {
    padding: var(--m-space);
}

.product-info {
    flex-grow: 1;
    font-size: var(--xs-text-size);
    font-weight: var(--bold-font-weight);
}

.productItem_name,
.productItem_status {
    text-transform: capitalize;
    font-weight: bold;
}

.productItem_status {
    padding: 2px 8px;
    font-size: var(--xxs-text-size);
}

.status-icon {
    width: 20px;
    height: 20px;
    float: left;
    padding-right: 5px;
}

.product-info-row[status="verified"] {
    display: none
}

.product-info-row[status="invalid_sn"],
.product-info-row[status="incorrect_date"],
.product-info-row[status="expired_date"],
.product-info-row[status="invalid_data"] {
    color: #F86458;
    border: 1px solid #F86458;
    box-sizing: border-box;
    border-radius: var(--m-border-radius);
    width: fit-content;
}

.product-info-row[status="recalled_batch"],
.product-info-row[status="recalled_sn"],
.product-info-row[status="decommissioned_sn"] {
    color: #FFCB45;
    border: 1px solid #FFCB45;
    box-sizing: border-box;
    border-radius: var(--m-border-radius);
    width: fit-content;
}

