.mobile-container {
    background-size: cover;
    background-image: url("../../assets/images/abstract-shape-background.svg");
}

.header-section {
    height: 8%;
    width: 100%;
}

.page-header {
    position: relative;
    background: url("./../../assets/images/icons/app-icon-and-name.svg") no-repeat center;
    background-position-y: bottom;
    height: 100%;
    width: 100%;
    /*
    filter: invert(12%) sepia(83%) saturate(1757%) hue-rotate(170deg) brightness(33%) contrast(99%);
    */
}

.settings-menu {
    background: url("../../assets/images/icons/settings-icon.svg") no-repeat;
    position: absolute;
    right: 24px;
    width: 20px;
    height: 20px;
    bottom: 9px;
}

.page-body, webc-datatable {
    margin: 0px 16px;
}

.page-body, .no-data-container {
    height: 100%;
}

.no-data-container .page-title-section {
    font-size: 24px;
    font-family: 'DM Sans bold';
    text-align: center;
    margin-top: 2.2%;
}

.no-data-container .content-container {
    background-position: right;
    background-image: url(./../../assets/images/scan-pack.gif);
    height: 45.95%;
    background-repeat: no-repeat;
    width: 103%;
    margin-top: 6.53%;
    background-size: contain;
}

.no-data-container .explain-container {
    font-size: 15px;
    font-family: 'DM Sans bold';
    text-align: center;
    margin-top: 16%;
    margin-left: 35px;
    margin-right: 35px;
}

.webc-datatable--scroll {
    --height: calc(100vh - 260px);
}

.section-label {
    font-size: 24px;
    font-weight: var(--bold-font-weight);
    line-height: 150%;
    letter-spacing: 0.3px;
    font-style: normal;
    margin-top: 19px;
}

.group-date {
    padding-bottom: var(--l-space);
    font-weight: var(--bold-font-weight);
    font-size: var(--xxs-text-size);
    text-transform: uppercase;
    color: #516266;
    font-family: 'DM Sans bold';
}

.history-item-container {
    min-height: 80px;
    padding: var(--m-space) 16px;
    margin-bottom: 1px;
    background: #fff;
    color: var(--ion-color-gray-seven);
    box-shadow: 4px 11px 9px rgb(0 64 63 / 4%);
}

.history-item-container .productItem_name {
    color: var(--primary-backgtound-color);
    font-weight: bold;
}

.history-item-container[group-position="first"] {
    border-top-left-radius: var(--m-border-radius);
    border-top-right-radius: var(--m-border-radius);
}

.history-item-container[group-position="last"] {
    border-bottom-left-radius: var(--m-border-radius);
    border-bottom-right-radius: var(--m-border-radius);
}

.history-item-container[group-position="one-item-group"] {
    border-radius: var(--m-border-radius);
}

.item-row-container {
    display: flex;
    align-items: center;
}

.product-info {
    flex-grow: 1;
}

.product-info-row {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-info .product-info-row {
    width: 220px;
}

.status-info-row {
    max-width: 125px;
    align-self: start;
}

.product-info-row ion-label {
    font-family: "DM Sans regular";
    font-size: 12px;
    color: #516266;
}

.product-info-row ion-label.productItem_name {
    font-family: "DM Sans bold";
    font-size: 16px;
}

.productItem_status {
    text-transform: capitalize;
    font-weight: bold;
}

.productItem_status {
    padding: 2px 8px;
    font-size: var(--xxs-text-size);
}

.status-icon {
    width: 20px;
    height: 20px;
    float: left;
    padding-right: 5px;
}

.product-info-row[status="verified"] {
    background: linear-gradient(0deg, #BFF7DC, #BFF7DC), #FFFFFF;
    border-radius: 18px;
}

.product-info-row[status="invalid_sn"],
.product-info-row[status="incorrect_date"],
.product-info-row[status="expired_date"],
.product-info-row[status="invalid_data"] {
    background: linear-gradient(0deg, #FFC0C0, #FFC0C0), #FFFFFF;
    border-radius: 18px;
}

.product-info-row[status="recalled_batch"],
.product-info-row[status="recalled_sn"],
.product-info-row[status="decommissioned_sn"] {
    background: linear-gradient(0deg, #FFD99F, #FFD99F), #FFFFFF;
    border-radius: 18px;
}

@media only screen and (min-device-width: 900px) and (max-device-width: 3000px) {
    .webc-datatable--scroll {
        --height: calc(100vh - 400px);
    }
}
