<link href="components/page-footer/page-footer.css" rel="stylesheet">
<div class="items-container d-flex flex-row justify-content-around">
    <webc-link class='button-link alignBottom' tag="scan">
        <psk-img class="navbar-img" height='22' src="../../assets/images/footer/data.png"></psk-img>
    </webc-link>
    <webc-link class='button-link alignBottom' tag="home">
        <psk-img class="navbar-img" height='22' src="../../assets/images/footer/home.png"></psk-img>
    </webc-link>
    <webc-link class='button-link alignBottom' tag="history">
        <psk-img class="navbar-img" height='22' src="../../assets/images/footer/history.png"></psk-img>
    </webc-link>
    <webc-link class='button-link alignBottom' tag="help">
        <psk-img class="navbar-img" height='22' src="../../assets/images/footer/about.png"></psk-img>
    </webc-link>

</div>
