.close-page {
    height: 25px;
    width: 25px;
    position: relative;
    background: url(../../assets/images/icons/close-page.svg) no-repeat right;
    top: 16px;
    left: calc(100% - 41px);
}

.section-title {
    padding: 0px 24px 24px;
}

.page-body-section {
    background: #fff;
    height: 87%;
}

.page-body {
    height: 95%;
    position: relative;
    overflow: hidden;
    color: #013646;
}

iframe {
    height: 100%;
    width: 100%;
    z-index: 3000;
    border: none;
}

.content-wrapper-container {
    height: 100%;
    width: 100%;
}
