
.header-row {
    align-items: center;
    display: flex;
}

.app-icon{
    background: url("./../../assets/images/icons/app-icon.svg") no-repeat center;
    height: 33px;
    width: 100%;
}
.menu-icon {
    left: var(--l-space);
}

.title {
    font-size: var(--m-text-size);
    justify-content: center;
}
