
.subheader-container {
    background: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.subheader-container.showEpi .black-subheader {
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    color: #fff;
    padding-bottom: 134px;
}

.subheader-container .grey-subheader {
    display: none;
}

.subheader-container .black-subheader {
    padding-bottom: 0px;
    background: var(--primary-backgtound-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.subheader-container.showEpi .grey-subheader {
    display: block;
    width: 100%;
}

.product-name {
    font-size: 32px;
    font-weight: bold;
    color: #F9FBFB;
    display: flex;
    flex-direction: row;
}

.product-description {
    font-size: 14px;
    font-weight: normal;
    color: #F9FBFB;
}

.verified-icon {
    margin-left: 11px;
    margin-bottom: 8px;
    top: 3px;
    position: relative;
}

.sections-container {
    top: 55px;
    border-radius: 12px;
    background: #fff;
    margin: 24px;
    width: calc(100% - 48px);
    position: absolute;
    height: 230px;
}

.sections-container ion-col {
    padding-top: 17px;
}

div.label {
    font-size: 12px;
    font-weight: bold;
    margin-top: 9px;
    margin-bottom: 9px;
}

.right-border {
    border-right: 1px solid #E5EAEB;
}

.bottom-border {
    border-bottom: 1px solid #E5EAEB;
}

.accordion #content {
    top: 110px;
    position: relative;
    padding: 0px 24px;
}

.status-container {
    height: 60px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.status-container .icon-container {
    margin: 15px 15px 0px 0px;
    height: 32px;
    width: 32px;
    background-size: 32px 32px;
}

.status-container span {
    margin-top: 22px;
}

.padding-item {
    background: var(--primary-backgtound-color);
    height: 24px;
}

.status-container[status-type="warning"] .icon-container {
    background-image: url(../../assets/icons/recalled.svg);

}

.status-container[status-type="error"] .icon-container {
    background-image: url(../../assets/icons/error.svg);
}

.status-container[status-type="warning"] {
    background: linear-gradient(0deg, rgba(247, 224, 79, 0.1), rgba(247, 224, 79, 0.1)), #FFFFFF;
}

.status-container[status-type="error"] {
    background: linear-gradient(0deg, rgba(248, 100, 88, 0.1), rgba(248, 100, 88, 0.1)), #FFFFFF;
}
