.page-header {
    padding-bottom: 24px;
}

.product-name-container {
    display: flex;
    justify-content: start;
    column-gap: 10px;
    padding-top: 35px;
}

.product-name-container .back-button {
    width: 15px;
    margin-left: 15px;
    background: url("../../assets/images/icons/back-icon.svg") no-repeat center;
}

.product-name-container .product-name {
    font-size: 24px;
    font-family: "DM Sans bold";
    flex-grow: 1;
    text-align: left;
}

.product-name-container .search-button {
    width: 15px;
    margin-right: 15px;
    background: url("../../assets/images/icons/search-icon.svg") no-repeat right;
    flex-grow: 1;
}

.product-name-container .search-button[searchbar="visible"],
.product-name[searchbar="visible"],
.product-description[searchbar="visible"],
.status-container[searchbar="visible"] {
    display: none;
}

.product-name-container .close-search-button[searchbar="hidden"] {
    display: none;
}

.product-name-container .close-search-button {
    content: url("../../assets/images/icons/close-cross.svg");
    width: 36px;
    height: 36px;
    margin-right: 15px;
    background: #61E4A3;
    border-radius: 8px;
    padding: 12px;
}

.search-container {
    display: none;
}

.search-container[searchbar="visible"] {
    display: flex;
}

.search-container .status-icon-container {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
}

.search-container ion-searchbar {
    background: #fff;
    border-radius: 8px;
    padding: 0px;
    height: 36px;
    margin-left: 16px;
}


.page-header .product-description {
    margin-left: 40px;
    text-align: left;
}

.product-name-container .product-name,
.page-header .product-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 295px;
}

.status-container {
    display: flex;
    justify-content: left;
    background: #fff;
    border-radius: 8px;
    color: #191C32;
    font-size: 14px;
    /* width: 100%; */
    padding: 6px 8px;
    column-gap: 6px;
    margin-left: 42px;
    margin-top: 12px;
    font-family: "DM Sans medium";
    position: relative;
    margin-right: 42px;
}

.status-container .status-icon-container {
    width: 20px;
    height: 20px;
}

div[status-type="warning"] .status-icon-container {
    background: url(../../assets/images/icons/alert-stauts-icon.svg) no-repeat;
    background-size: cover;
}

div[status-type="error"] .status-icon-container {
    background: url(../../assets/images/icons/warning-status-icon.svg) no-repeat;
    background-size: cover;
}

.leaflet-wrapper, #leaflet-content {
    height: calc(100% - 48px);
}

.page-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content-slot-container {
    height: 89%;
    background: #fff;
}

.leaflet-wrapper {
    background: #fff;
    color: #04313B;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: justify;
    position: absolute;
    height: 77%;
    width: 100%;

}

.video-content iframe {
    height: 203px;
    width: 100%;
}

.e-leaflet-icon {
    font-family: "DM Sans bold";
    font-size: 20px;
    text-align: left;
}

.e-leaflet-icon:before {
    content: url("../../assets/images/icons/e-leaflet-icon.svg");
    padding-right: 14px;
}

.leaflet-icon-options-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 26px 8px 8px 24px;
}

.leaflet-options-container {
    background: url("../../assets/images/icons/leaflet-options-icon_up.svg") no-repeat;
    width: 62px;
    height: 38px;
    background-size: contain;
}

.leaflet-options-container.opened {
    background: url("../../assets/images/icons/leaflet-options-icon.svg") no-repeat;
}

.leaflet-options-container > div {
    height: 100%;
}

.leaflet-options-wrapper {
    display: none;
}

.leaflet-options-wrapper.show-leaflet-options {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: var(--olivegreen);
    padding: 24px;
}

.auth-feature-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 10px;
    height: 56px;
    padding: 16px 24px 16px 16px;
}

.auth-feature.product-description {
    width: 24px;
}

.leaflet-accordion-item {
    border-bottom: 1px solid #E5EAEB;
    padding: 0px 24px;
}

.leaflet-accordion-item, .leaflet-accordion-item h5, .leaflet-accordion-item-content h3 {
    font-size: var(--m-text-size);
    font-family: "DM Sans bold";
}

.leaflet-accordion-item h5 {
    margin-bottom: 20px;
    max-width: 305px;
}

.leaflet-accordion-item-content {
    display: none;
    margin-right: 5px;
    height: fit-content;
    font-family: "DM Sans regular";
    font-size: var(--s-text-size);
    padding-left: 15px;
    margin: 18px 0px;
}

.leaflet-accordion-item.active .leaflet-accordion-item-content {
    height: fit-content;
    display: block;
    position: relative;
    font-style: normal;
    font-weight: normal;
}

.leaflet-accordion-item:before {
    content: "";
    margin-right: -15px;
    position: relative;
    float: right;
    width: 21px;
    height: 21px;
    background-image: url(../../assets/images/icons/accordion-item-closed.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.leaflet-accordion-item.active:before {
    background-image: url("../../assets/images/icons/accordion-item-oppened.svg");
}

.scroll-to-top {
    position: relative;
    top: 99%;
}

.scroll-to-top div {
    background: #61E4A3;
    width: fit-content;
    padding: 10px 24px;
    text-align: center;
    font-family: "DM Sans bold";
    color: #02272F;
    font-size: 14px;
    position: relative;
    top: -48px;
    right: 24px;
    border-radius: 62px;
    float: right;
}