.page-header {
    padding-bottom: 24px;
}

.product-name-container {
    display: flex;
    justify-content: start;
    column-gap: 10px;
    padding-top: 35px;
}

.product-name-container .back-button {
    width: 15px;
    margin-left: 15px;
    background: url("../../assets/images/icons/back-icon.svg") no-repeat center;
}

.product-name-container .product-name {
    font-size: 24px;
    font-family: "DM Sans bold";
    flex-grow: 1;
    text-align: left;
}

.product-name-container .search-button {
    width: 15px;
    margin-right: 15px;
    background: url("../../assets/images/icons/search-icon.svg") no-repeat right;
    flex-grow: 1;
}

.product-name-container .search-button[searchbar="visible"],
.product-name[searchbar="visible"],
.product-description[searchbar="visible"],
.status-container[searchbar="visible"] {
    display: none;
}

.product-name-container .close-search-button[searchbar="hidden"] {
    display: none;
}

.product-name-container .close-search-button {
    content: url("../../assets/images/icons/close-cross.svg");
    width: 36px;
    height: 36px;
    margin-right: 15px;
    background: #61E4A3;
    border-radius: 8px;
    padding: 12px;
}

.search-container {
    display: none;
}

.search-container[searchbar="visible"] {
    display: flex;
    width: 100%;
}

.search-container .status-icon-container {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
}

.search-container ion-searchbar {
    background: #fff;
    border-radius: 8px;
    padding: 0px;
    height: 36px;
    margin-left: 16px;
}


.page-header .product-description {
    margin-left: 40px;
    text-align: left;
}

.product-name-container .product-name,
.page-header .product-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 295px;
}

.status-container {
    display: flex;
    justify-content: left;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 8px;
    color: #d3d9da;
    font-size: 14px;
    padding: 6px 8px;
    column-gap: 6px;
    margin-left: 42px;
    margin-top: 12px;
    font-family: "DM Sans medium";
    position: relative;
    margin-right: 42px;
}

.status-container .status-icon-container {
    width: 20px;
    height: 20px;
}

div[status-type="warning"] .status-icon-container {
    background: url(../../assets/images/icons/alert-stauts-icon.svg) no-repeat;
    background-size: cover;
}

div[status-type="error"] .status-icon-container {
    background: url(../../assets/images/icons/warning-status-icon.svg) no-repeat;
    background-size: cover;
}

.leaflet-wrapper, #leaflet-content {
    height: calc(100% - 48px);
}

.page-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content-slot-container {
    height: 90%;
    background: #fff;
}

.leaflet-wrapper {
    background: #fff;
    color: #04313B;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    position: absolute;
    height: 77%;
    width: 100%;

}

.notification-wrapper {
    margin: 16px 16px 0px;
    padding-left: 8px;
    border-radius: 8px;
    background: #FF5252;
}

.notification-content {
    padding: 35px 24px 9px;
    background: #FFEEEE;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.close-notification {
    background: url("../../assets/images/icons/close-notification.svg") center no-repeat;
    width: 16px;
    height: 16px;
    background-size: cover;
    position: absolute;
    right: 24px;
    top: 24px;
}

.notification-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.show-less,
.show-more {
    color: #FF5252;
    font-size: 14px;
    font-family: 'DM Sans medium';
    margin-top: 9px;
}

.show-less:before {
    content: url("../../assets/images/icons/read-less-arrow.svg");
}

.show-more:before {
    content: url("../../assets/images/icons/read-more-arrow.svg");
}

.display-none {
    display: none;
}

.video-container {
    margin: 16px 16px 0px;
}

.video-content iframe {
    height: 203px;
    width: 100%;
}

.e-leaflet-icon {
    font-family: "DM Sans bold";
    font-size: 20px;
    text-align: left;
}

.e-leaflet-icon:before {
    content: url("../../assets/images/icons/e-leaflet-icon.svg");
    padding-right: 14px;
}

.leaflet-icon-options-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 26px 8px 8px 24px;
}

.leaflet-options-container {
    background: url("../../assets/images/icons/leaflet-options-icon.svg") no-repeat;
    width: 62px;
    height: 38px;
    background-size: contain;
}

.leaflet-options-container.opened {
    background: url("../../assets/images/icons/leaflet-options-icon_up.svg") no-repeat;
}

.leaflet-options-container > div {
    height: 100%;
}

.leaflet-options-wrapper {
    display: none;
}

.leaflet-options-wrapper.show-leaflet-options {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border-bottom: 1px solid #E5EAEB;
    border-top: 1px solid #E5EAEB;
}

.leaflet-options-wrapper.show-leaflet-options ion-select,
.auth-feature-container {
    border: 1px solid var(--olivegreen);
}

.auth-feature-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 10px;
    height: 56px;
    padding: 16px 24px 16px 16px;
}

.auth-feature.product-description {
    width: 24px;
}

.leaflet-accordion-item {
    border-bottom: 1px solid #E5EAEB;
    padding: 0px 24px;
    font-family: "DM Sans bold";
}

.leaflet-accordion-item h5, .leaflet-accordion-item-content h3 {
    font-family: "DM Sans bold";
    font-size: calc(100% + 1.2vmin);
}

.leaflet-accordion-item h5 {
    margin-bottom: 20px;
    max-width: 290px;
    text-align: left;
}

.leaflet-accordion-item-content {
    display: none;
    height: fit-content;
    font-family: "DM Sans regular";
    font-size: calc(100% + 0.6vmin);
    margin: 18px 0px;
}

.leaflet-accordion-item-content ul {
    margin-left: 20px;
}

.leaflet-accordion-item-content p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.leaflet-accordion-item.active .leaflet-accordion-item-content {
    height: fit-content;
    display: block;
    position: relative;
    font-style: normal;
    font-weight: normal;
}

.leaflet-accordion-item:before {
    content: "";
    margin-right: -15px;
    position: relative;
    float: right;
    width: 21px;
    height: 21px;
    background-image: url(../../assets/images/icons/accordion-item-closed.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.leaflet-accordion-item.active:before {
    background-image: url("../../assets/images/icons/accordion-item-oppened.svg");
}

.scroll-to-top {
    position: relative;
    top: 99%;
}

.scroll-to-top div {
    background: #61E4A3;
    width: fit-content;
    padding: 10px 24px;
    text-align: center;
    font-family: "DM Sans bold";
    color: #02272F;
    font-size: calc(100% + 0.2vmin);
    position: relative;
    top: -48px;
    right: 24px;
    border-radius: 62px;
    float: right;
}

@media only screen and (min-device-width: 900px) {
    .leaflet-accordion-item h5, .leaflet-accordion-item-content h3 {
        font-size: calc(100% + 0.6vmin);
    }

    .leaflet-accordion-item-content {
        font-size: calc(100% + 0.4vmin);
    }
}
