.accordion-item {
    border-bottom: 1px solid var(--ion-color-gray-three);
    margin-top: var(--l-space);
}

.accordion-item input {
    border-radius: var(--m-border-radius);
    height: 56px;
}

.accordion-item .item-content-slot-wrapper {
    display: none;
}

.accordion-item.opened .item-content-slot-wrapper {
    display: block;
    font-size: var(--xs-text-size);
    color: var(--ion-color-gray-eight);
    margin-bottom: var(--l-space);
}

.accordion-item-icon {
    width: 22px;
    height: 22px;
    flex-basis: 30px;
}

.accordion-item .accordion-item-icon {
    background: url("../../assets/icons/accordion-closed-item.svg") no-repeat right;
}

.accordion-item.opened .accordion-item-icon {
    background: url("../../assets/icons/accordion-opened-item.svg") no-repeat right;
}

.item-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-title-container .title-section {
    padding-right: var(--xl-space);
    flex-grow: 1;
}

.subtitle {
    font-size: var(--xxs-text-size);
    color: var(--primary-backgtound-color);
    margin-top: 8px;
    margin-bottom: var(--l-space);
}
