<link href="components/accordion-item/accordion-item.css" rel="stylesheet">

<webc-container controller="components/AccordionController">
    <div class="accordion-item">
        <div class="item-title-container" data-tag="accordion-item-click">
            <div class="title-section">
                <div class="accordion-item-title">{{@title}}</div>
                <div class="subtitle">{{@subtitle}}</div>
            </div>
            <div class="accordion-item-icon"></div>
        </div>
        <div class="item-content-slot-wrapper" part="item-content">
            <slot name="item-content"></slot>
        </div>


    </div>
</webc-container>

