webc-app-root {
    --mode: none;
}

/* dm-sans-regular - latin-ext_latin */
@font-face {
    font-family: 'DM Sans regular';
    font-style: normal;
    src: url('../assets/css/fonts/DM_Sans/dm-sans-v6-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../assets/css/fonts/DM_Sans/dm-sans-v6-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('../assets/css/fonts/DM_Sans/dm-sans-v6-latin-ext_latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */ url('../assets/css/fonts/DM_Sans/dm-sans-v6-latin-ext_latin-regular.woff') format('woff'),
        /* Modern Browsers */ url('../assets/css/fonts/DM_Sans/dm-sans-v6-latin-ext_latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('../assets/css/fonts/DM_Sans/dm-sans-v6-latin-ext_latin-regular.svg#DMSans') format('svg'); /* Legacy iOS */
}

:root {
    --primary-backgtound-color: #02272F;
    --secondary-background-color: #FAFAFA;
    --ion-background-color: transparent;
    --ion-font-family: "DM Sans regular";
    --webc-font-family: "DM Sans regular";
    font-family: "DM Sans regular";
    --ion-backdrop-opacity: 0.6;
    --app-max-width: 414px;
    --xxxl-text-size: 40px;
    --xxl-text-size: 32px;
    --xl-text-size: 24px;
    --l-text-size: 20px;
    --m-text-size: 18px;
    --s-text-size: 16px;
    --xs-text-size: 14px;
    --xxs-text-size: 12px;
    --bold-font-weight: 700;
    --medium-font-weight: 500;
    --regular-font-weight: 400;
    --xxl-border-radius: 60px;
    --xl-border-radius: 40px;
    --l-border-radius: 20px;
    --m-border-radius: 16px;
    --s-border-radius: 10px;
    --xs-border-radius: 8px;
    --xxs-border-radius: 6px;
    --xl-space: 40px;
    --l-space: 24px;
    --m-space: 14px;
    --s-space: 8px;
    --xs-space: 5px;


    --ion-color-gray-one: #F4F6F6;
    --ion-color-gray-one-rgb: 244, 246, 246;
    --ion-color-gray-one-contrast: #000000;
    --ion-color-gray-one-contrast-rgb: 0, 0, 0;
    --ion-color-gray-one-shade: #d7d8d8;
    --ion-color-gray-one-tint: #f5f7f7;

    --ion-color-gray-two: #F4F6F6;
    --ion-color-gray-two-rgb: 244, 246, 246;
    --ion-color-gray-two-contrast: #000000;
    --ion-color-gray-two-contrast-rgb: 0, 0, 0;
    --ion-color-gray-two-shade: #d7d8d8;
    --ion-color-gray-two-tint: #f5f7f7;

    --ion-color-gray-three: #E5EAEB;
    --ion-color-gray-three-rgb: 229, 234, 235;
    --ion-color-gray-three-contrast: #000000;
    --ion-color-gray-three-contrast-rgb: 0, 0, 0;
    --ion-color-gray-three-shade: #cacecf;
    --ion-color-gray-three-tint: #e8eced;

    --ion-color-gray-four: #D3D9DA;
    --ion-color-gray-four-rgb: 211, 217, 218;
    --ion-color-gray-four-contrast: #000000;
    --ion-color-gray-four-contrast-rgb: 0, 0, 0;
    --ion-color-gray-four-shade: #babfc0;
    --ion-color-gray-four-tint: #d7ddde;

    --ion-color-gray-five: #A1ADB0;
    --ion-color-gray-five-rgb: 161, 173, 176;
    --ion-color-gray-five-contrast: #000000;
    --ion-color-gray-five-contrast-rgb: 0, 0, 0;
    --ion-color-gray-five-shade: #8e989b;
    --ion-color-gray-five-tint: #aab5b8;

    --ion-color-gray-six: #708084;
    --ion-color-gray-six-rgb: 112, 128, 132;
    --ion-color-gray-six-contrast: #ffffff;
    --ion-color-gray-six-contrast-rgb: 255, 255, 255;
    --ion-color-gray-six-shade: #637174;
    --ion-color-gray-six-tint: #7e8d90;

    --ion-color-gray-seven: #516266;
    --ion-color-gray-seven-rgb: 81, 98, 102;
    --ion-color-gray-seven-contrast: #ffffff;
    --ion-color-gray-seven-contrast-rgb: 255, 255, 255;
    --ion-color-gray-seven-shade: #47565a;
    --ion-color-gray-seven-tint: #627275;

    --ion-color-gray-eight: #1E393F;
    --ion-color-gray-eight-rgb: 30, 57, 63;
    --ion-color-gray-eight-contrast: #ffffff;
    --ion-color-gray-eight-contrast-rgb: 255, 255, 255;
    --ion-color-gray-eight-shade: #1a3237;
    --ion-color-gray-eight-tint: #354d52;

    --ion-color-gray-nine: #1E393F;
    --ion-color-gray-nine-rgb: 30, 57, 63;
    --ion-color-gray-nine-contrast: #ffffff;
    --ion-color-gray-nine-contrast-rgb: 255, 255, 255;
    --ion-color-gray-nine-shade: #1a3237;
    --ion-color-gray-nine-tint: #354d52;

    --ion-color-gray-ten: #04313B;
    --ion-color-gray-ten-rgb: 4, 49, 59;
    --ion-color-gray-ten-contrast: #ffffff;
    --ion-color-gray-ten-contrast-rgb: 255, 255, 255;
    --ion-color-gray-ten-shade: #042b34;
    --ion-color-gray-ten-tint: #1d464f;

    --ion-color-cornflower: #5A59FD;
    --ion-color-cornflower-rgb: 90, 89, 253;
    --ion-color-cornflower-contrast: #ffffff;
    --ion-color-cornflower-contrast-rgb: 255, 255, 255;
    --ion-color-cornflower-shade: #4f4edf;
    --ion-color-cornflower-tint: #6b6afd;
}


h1 {
    font-size: var(--xxxl-text-size);
    font-weight: var(--bold-font-weight);
}

h2 {
    font-size: var(--xxl-text-size);
    font-weight: var(--bold-font-weight);
}

h3 {
    font-size: var(--xl-text-size);
    font-weight: var(--bold-font-weight);
}

h4 {
    font-size: var(--l-text-size);
    font-weight: var(--bold-font-weight);
}

h5 {
    font-size: var(--m-text-size);
    font-weight: var(--bold-font-weight);
}

h6 {
    font-size: var(--s-text-size);
    font-weight: var(--bold-font-weight);
}

.ion-color-cornflower {
    --ion-color-base: var(--ion-color-cornflower);
    --ion-color-base-rgb: var(--ion-color-cornflower-rgb);
    --ion-color-contrast: var(--ion-color-cornflower-contrast);
    --ion-color-contrast-rgb: var(--ion-color-cornflower-contrast-rgb);
    --ion-color-shade: var(--ion-color-cornflower-shade);
    --ion-color-tint: var(--ion-color-cornflower-tint);
}

.ion-color-gray-one {
    --ion-color-base: var(--ion-color-gray-one);
    --ion-color-base-rgb: var(--ion-color-gray-one-rgb);
    --ion-color-contrast: var(--ion-color-gray-one-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gray-one-contrast-rgb);
    --ion-color-shade: var(--ion-color-gray-one-shade);
    --ion-color-tint: var(--ion-color-gray-one-tint);
}

.ion-color-gray-two {
    --ion-color-base: var(--ion-color-gray-two);
    --ion-color-base-rgb: var(--ion-color-gray-two-rgb);
    --ion-color-contrast: var(--ion-color-gray-two-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gray-two-contrast-rgb);
    --ion-color-shade: var(--ion-color-gray-two-shade);
    --ion-color-tint: var(--ion-color-gray-two-tint);
}

.ion-color-gray-three {
    --ion-color-base: var(--ion-color-gray-three);
    --ion-color-base-rgb: var(--ion-color-gray-three-rgb);
    --ion-color-contrast: var(--ion-color-gray-three-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gray-three-contrast-rgb);
    --ion-color-shade: var(--ion-color-gray-three-shade);
    --ion-color-tint: var(--ion-color-gray-three-tint);
}

.ion-color-gray-four {
    --ion-color-base: var(--ion-color-gray-four);
    --ion-color-base-rgb: var(--ion-color-gray-four-rgb);
    --ion-color-contrast: var(--ion-color-gray-four-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gray-four-contrast-rgb);
    --ion-color-shade: var(--ion-color-gray-four-shade);
    --ion-color-tint: var(--ion-color-gray-four-tint);
}

.ion-color-gray-five {
    --ion-color-base: var(--ion-color-gray-five);
    --ion-color-base-rgb: var(--ion-color-gray-five-rgb);
    --ion-color-contrast: var(--ion-color-gray-five-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gray-five-contrast-rgb);
    --ion-color-shade: var(--ion-color-gray-five-shade);
    --ion-color-tint: var(--ion-color-gray-five-tint);
}

.ion-color-gray-six {
    --ion-color-base: var(--ion-color-gray-six);
    --ion-color-base-rgb: var(--ion-color-gray-six-rgb);
    --ion-color-contrast: var(--ion-color-gray-six-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gray-six-contrast-rgb);
    --ion-color-shade: var(--ion-color-gray-six-shade);
    --ion-color-tint: var(--ion-color-gray-six-tint);
}

.ion-color-gray-seven {
    --ion-color-base: var(--ion-color-gray-seven);
    --ion-color-base-rgb: var(--ion-color-gray-seven-rgb);
    --ion-color-contrast: var(--ion-color-gray-seven-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gray-seven-contrast-rgb);
    --ion-color-shade: var(--ion-color-gray-seven-shade);
    --ion-color-tint: var(--ion-color-gray-seven-tint);
}

.ion-color-gray-eight {
    --ion-color-base: var(--ion-color-gray-eight);
    --ion-color-base-rgb: var(--ion-color-gray-eight-rgb);
    --ion-color-contrast: var(--ion-color-gray-eight-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gray-eight-contrast-rgb);
    --ion-color-shade: var(--ion-color-gray-eight-shade);
    --ion-color-tint: var(--ion-color-gray-eight-tint);
}

.ion-color-gray-nine {
    --ion-color-base: var(--ion-color-gray-nine);
    --ion-color-base-rgb: var(--ion-color-gray-nine-rgb);
    --ion-color-contrast: var(--ion-color-gray-nine-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gray-nine-contrast-rgb);
    --ion-color-shade: var(--ion-color-gray-nine-shade);
    --ion-color-tint: var(--ion-color-gray-nine-tint);
}

.ion-color-gray-ten {
    --ion-color-base: var(--ion-color-gray-ten);
    --ion-color-base-rgb: var(--ion-color-gray-ten-rgb);
    --ion-color-contrast: var(--ion-color-gray-ten-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gray-ten-contrast-rgb);
    --ion-color-shade: var(--ion-color-gray-ten-shade);
    --ion-color-tint: var(--ion-color-gray-ten-tint);
}

ion-button {
    --border-radius: 10px;
}

.mobile-container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: var(--app-max-width);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 24px;
}

.align-center {
    display: flex;
    align-items: center;
}

.scan-button-text {
    font-family: "DM Sans regular";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.3px;
}

ion-select {
    height: 56px;
    background: #fff;
    border-radius: 16px;
    padding: 16px;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

ion-select::part(icon) {
    display: none;
}


ion-select::after {
    width: 24px;
    height: 24px;
    background: url(../assets/icons/select-arrow.svg) no-repeat;
    content: "";
    position: relative;
    top: 9px;
}

.action-sheet-container .action-sheet-group {
    background: #fff;
    max-width: var(--app-max-width);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

webc-modal::part(dialog) {
    max-width: var(--app-max-width);
    height: 100%;
}

webc-modal::part(content) {
    margin: 12px;
    border-radius: 20px;
    justify-content: center;
}

webc-modal::part(header) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    padding: 29px 0px;
    display: block;
}

webc-modal::part(close) {
    background: none;
    height: 17px;
    width: 17px;
    position: absolute;
    top: 24px;
    right: 24px;
}

psk-input .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 10px;
}

/* CSS required by Reactive HTML Elements
/* leaflet-<components> specific */

#leaflet-header[show-leaflet] {
    display: block;
}

#leaflet-header[show-leaflet][effect="collapse"] > section {
    border-radius: 0;
    padding-bottom: 80px;
}

#leaflet-header[effect="collapse"] > section::after {
    position: absolute;
    content: '';
    bottom: 8px;
    width: 30%;
    height: 4px;
    background: #FFFFFF;
    border-radius: 1rem;
}

#leaflet-header[effect="collapse"] > section > * {
    display: none;
}

[effect="collapse"] leaflet-shortcuts {
    --background: var(--primary-backgtound-color);
    --scrollbar-color: #073C47;
    --scrollbar-background: var(--primary-backgtound-color);
}

[effect="collapse"] leaflet-shortcuts::part(container) {
    box-sizing: border-box;
    display: flex;
    overflow-x: scroll;
    overflow-y: visible;
    scroll-behavior: smooth;
    top: 0;
    margin: 0;
    padding: 0.4rem 1rem;
    gap: 1rem;
    width: 100%;
    border-radius: 0;
    transform: translateY(0);
}

[effect="collapse"] leaflet-shortcuts > leaflet-button {
    --button-height: auto;
    min-width: fit-content;
    border-radius: 0.5rem;
    overflow: hidden;
}

[effect="collapse"] leaflet-shortcuts > leaflet-button > ion-item {
    --background: rgba(255, 255, 255, 0.2);
    --color: #FFFFFF;
}

[effect="collapse"] leaflet-shortcuts > leaflet-button[active] > ion-item {
    --background: rgba(255, 255, 255, 1);
    --color: var(--primary-backgtound-color);
}

[effect="collapse"] leaflet-shortcuts > leaflet-button[active] .icon {
    height: 40px;
}

[effect="collapse"] leaflet-shortcuts > leaflet-button[active] .container {
    padding-left: 0.25rem;
}

[effect="collapse"] leaflet-shortcuts > leaflet-button .container {
    flex-direction: row;
    padding: 0 0.75rem;
    gap: 1rem;
}

#leaflet-header {
    display: none;
    position: sticky;
    z-index: 2;
    top: 0;
    --button-height: 120px;
}

#leaflet-header > section {
    background: var(--primary-backgtound-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom-right-radius: var(--xl-border-radius);
    border-bottom-left-radius: var(--xl-border-radius);
    height: fit-content;
    padding-bottom: calc(var(--button-height) + 24px);
}

leaflet-shortcuts {
    --delta-normal: 379px; /* impact over scrolling breakpoints */
    --delta-collapse: 94px; /* impact over scrolling breakpoints */
    --background: #E5EAEB;
    --box-shadow: 0 10px 40px rgba(0, 64, 120, 0.1);
}

leaflet-shortcuts::part(container) {
    position: absolute;
    left: 0; top: 100%;
    transform: translateY(-50%);
    margin: 0 24px;
    padding: 0;
    width: calc(100% - 48px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    border-radius: 12px;
    overflow: hidden;
    background: var(--background);
    box-shadow: var(--box-shadow);
    transition: top 200ms ease-in-out;
}

leaflet-shortcuts::part(scroll-top) {
    --background: var(--primary-backgtound-color);
    position: fixed;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -100%);
    height: 3rem;
    --padding-end: 3.5rem;
    --padding-start: 3.5rem;
    text-transform: none;
}

leaflet-button > ion-item {
    --background: #FFFFFF;
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --inner-border-width: 0;
}

leaflet-button > ion-item .container {
    height: var(--button-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 1.4rem;
    gap: 0.5rem;
}

leaflet-button > ion-item .label {
    font-size: 12px;
}

leaflet-accordion {
    display: block;
    border-bottom: 1px solid var(--ion-color-gray-three);
    margin-top: var(--l-space);
    padding-bottom: var(--l-space);
}

leaflet-accordion,
leaflet-section {
    --toggle-color: var(--primary-backgtound-color);
    --background: transaprent;
}

leaflet-accordion::part(header),
leaflet-section::part(header) {
    --padding-start: 0;
    --border-color: transparent;
}

leaflet-accordion::part(description) {
    font-size: var(--xxs-text-size);
    color: var(--primary-backgtound-color);
    margin-top: var(--s-space);
}

leaflet-section::part(header) {
    --background: #FFFFFF;
    --border-color: #E5EAEB;
    box-shadow: 0 10px 40px rgba(0, 64, 128, 0.1);
}

leaflet-section::part(icon) {
    padding-left: 10px;
}

leaflet-accordion::part(toggle),
leaflet-section::part(toggle) {
    position: absolute;
    content: '';
    background: var(--toggle-color);
}

leaflet-accordion::part(horizntal-line),
leaflet-section::part(horizntal-line) {
    right: 24px;
    width: 14px;
    height: 2px;
}

leaflet-accordion::part(horizntal-line) {
    right: 0;
}

leaflet-accordion::part(vertical-line),
leaflet-section::part(vertical-line) {
    right: 30px;
    width: 2px;
    height: 14px;
    transform: rotate(0deg);
    opacity: 1;
    transition: transform 200ms ease-in-out,
    opacity 300ms ease-in-out;
}

leaflet-accordion::part(vertical-line) {
    right: 6px;
}

leaflet-accordion[active]::part(vertical-line),
leaflet-section[active]::part(vertical-line) {
    opacity: 0;
    transform: rotate(90deg);
    transition: transform 300ms ease-in-out,
    opacity 300ms ease-in-out;
}

leaflet-accordion::part(content),
leaflet-section::part(content) {
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transform-origin: top;
    transform: scaleY(0.75);
    transition: max-height 350ms ease-in-out,
    padding 300ms ease-in-out,
    opacity 300ms ease-in-out,
    transform 250ms ease-in-out;
}

leaflet-section::part(content) {
    background: var(--background);
    padding-left: 24px;
    padding-right: 24px;
}

leaflet-accordion[active]::part(content),
leaflet-section[active]::part(content) {
    max-height: 1000000vh;
    height: 100%;
    opacity: 1;
    transform: scaleY(1);
    padding-top: 1rem;
    transition: max-height 350ms ease-in-out,
    padding 300ms ease-in-out,
    opacity 300ms ease-in-out,
    transform 250ms ease-in-out;
}

leaflet-section[active]::part(content) {
    padding-bottom: 1rem;
}

#leaflet-content[effect="collapse"] {
    margin-top: 15px;
}

#leaflet-content {
    display: block;
    margin-top: 170px;
    background-color: #FFFFFF;
}

.sk-cube-grid {
    width: 128px;
    height: 128px;
    margin: 100px auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #dee9f8;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

leaflet-spinner .loader-container {
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    background: #00000099;
    flex-direction: column;
    justify-content: center;
}



