.header-title-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-content: center;
    align-items: center;
}

.close-page {
    height: 25px;
    width: 25px;
    background: url(../../assets/images/icons/close-page.png) no-repeat right;
    background-size: cover;
    align-self: center;
    margin-right: 16px;
}

.section-title {
    padding: 24px;
    margin-top: 0px;
    flex-grow: 1;
}

.page-body-section {
    background: #fff;
    height: 92%;
}

.page-body {
    height: 95%;
    position: relative;
    overflow: auto;
    padding: 24px;
    color: #013646;
}

.label {
    font-family: "DM Sans bold";
    font-size: 16px;
}

ion-select {
    border: 0.5px solid #D0D5DD;
    border-radius: 8px;
    margin-top: 8px;
}

.forward-to-page {
    display: flex;
    margin-top: 24px;
}

.forward-to-page .label {
    flex-grow: 1;
}

.forward-to-page .fwd-icon {
    width: 10px;
    background: url("../../assets/images/icons/right-arrow-icon.svg") no-repeat center;
}

.network-edit-button i {
    padding-left: 10px;
}

.checkbox-label {
    padding-right: 10px;
}

.settings-input {
    width: 100%;
    padding: var(--s-space);
    border-radius: var(--xxs-border-radius);
    border: 1px solid var(--ion-color-gray-three);
    margin-bottom: var(--l-space);
    font-size: var(--s-text-size);
}

.checkbox-layout {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    height: 3rem;
}

.env-settings-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dev-options ion-toggle {
    pointer-events: none;
}

.dev-options ion-item {
    --background: transparent;
    --border-color: transparent;
    --padding-start: 0;
    --inner-padding-end: 0;
}

.dev-options ion-badge {
    background: #F0EFFE;
    color: #2F2F2F;
    padding: 0.15rem 0.25rem;
}

.dev-options p {
    font-size: .8rem;
}

.advanced-settings input {
    border: 1px solid black;
}

.acdc-container {
    margin-bottom: 24px;
}

.advanced-settings .label {
    margin-top: 24px;
}

.acdc-option {
    margin: 15px 15px 0px 15px;
}

@media only screen and (min-device-width: 900px) {
    .close-page {
        top: calc(2.34% + 16px);
    }
}
