.network-edit-button i {
    padding-left: 10px;
}

.checkbox-label {
    padding-right: 10px;
}

.settings-input {
    width: 100%;
    padding: var(--s-space);
    border-radius: var(--xxs-border-radius);
    border: 1px solid var(--ion-color-gray-three);
    margin-bottom: var(--l-space);
    font-size: var(--s-text-size);
}

.checkbox-layout {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.env-settings-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dev-options ion-toggle {
    pointer-events: none;
}

.dev-options ion-item {
    --background: transparent;
    --border-color: transparent;
    --padding-start: 0;
    --inner-padding-end: 0;
}

.dev-options ion-badge {
    background: #F0EFFE;
    color: #2F2F2F;
    padding: 0.15rem 0.25rem;
}

.dev-options p {
    font-size: .8rem;
}

.acdc-option {
    margin: 15px 15px 0px 15px;
}
