<link href="components/menu-popover/menu-popover.css" rel="stylesheet">
<webc-container controller="components/PopupMenuController">
    <div class="overlay">
        <div class="popup">
            <div class="content">
                <ion-list>
                    <ion-item data-tag="go-home">
                        <img src="../../assets/icons/home.svg">
                        <ion-label>Home</ion-label>
                    </ion-item>
                    <ion-item data-tag="go-about">
                        <img src="../../assets/icons/about.svg">
                        <ion-label>About</ion-label>
                    </ion-item>
                    <ion-item data-tag="go-settings">
                        <img src="../../assets/icons/settings.svg">
                        <ion-label>Settings</ion-label>
                    </ion-item>
                    <ion-item class="no-border" data-tag="go-help">
                        <img src="../../assets/icons/help.svg">
                        <ion-label>Help</ion-label>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </div>
</webc-container>
