.scan-button {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    bottom: 90px;
    margin-left: auto;
    margin-right: auto;
}

.scan-button ion-button::part(native) {
    background: var(--primary-backgtound-color);
    border-radius: var(--xxl-border-radius);
    text-transform: capitalize;
    padding: var(--s-space);
    width: 264px;
    height: 62px;
    font-size: var(--m-text-size)
}

.scan-image {
    margin-right: 5px;
}
