.mobile-container.dark-screen {
    background-color: black;
}

scan-header {
    position: relative;
    top: 25px;
}


.barcode-scanner-container {
    background: var(--primary-backgtound-color);
}

#scanner-placeholder {
    overflow: hidden;
}

#scanner-placeholder ~ webc-switch > * {
    position: absolute;
    left: 0.5em;
    right: 0.5em;
    bottom: 1em;
    text-align: center;
    color: var(--secondary-background-color);
    z-index: 99;
}

#scanner-placeholder ~ webc-switch > *.message {
    top: 50%;
    bottom: unset;
    padding-bottom: 1em;
    padding-left: var(--l-space);
    padding-right: var(--l-space);
    display: flex;
    flex-direction: column;
    max-width: var(--app-max-width);
    transform: translateY(-50%);
}
