.mobile-container.dark-screen {
    background-color: black;
}

webc-container > div {
    height: calc(100% - 60px);
    position: relative;
}

scan-header {
    position: relative;
    top: 25px;
    z-index: 100;
    display: block;
    height: 65px;
}

#watcherIf {
    height: 100%;
}

.barcode-scanner-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#scanner-placeholder {
    overflow: hidden;
}

#scanner-placeholder ~ webc-switch > .active-scan {
    position: absolute;
    left: 0.5em;
    right: 0.5em;
    bottom: 1em;
    text-align: center;
    color: var(--secondary-background-color);
    z-index: 99;
}

#scanner-placeholder ~ webc-switch > *.message {
    top: 50%;
    bottom: unset;
    padding-bottom: 1em;
    padding-left: var(--l-space);
    padding-right: var(--l-space);
    display: flex;
    flex-direction: column;
    max-width: var(--app-max-width);
    transform: translateY(-50%);
}

#scanner-placeholder ~ webc-switch .scan-done {
    width: 100%;
    height: 100%;
}

#scanner-placeholder ~ webc-switch .scan-done img {
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0.5em;
    right: 0.5em;
    bottom: 3em;
}

@media only screen and (min-device-width: 900px) {
    scan-header {
        height: calc(2.34% + 42px);
    }

    #scanner-placeholder {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}
